<h1>Salam !!</h1>

<h1>Here are all the flats available on AIR BABAAAA !</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Address</th>
      <th>Day price</th>
      <th>Description</th>
      <th>Tags</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @flats.each do |flat| %>
      <tr>
        <td><% if flat.pictures.first %>
          <%= image_tag flat.pictures.first.picture(:thumb) %>
          <% end %>
        </td>
        <td><%= flat.title %></td>
        <td><%= flat.address %></td>
        <td><%= flat.day_price %></td>
        <td><%= flat.description %></td>
        <td><% flat.tags.each do |t| %>
          <%= t.name %>
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flat', new_flat_path %>
