<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @flat.title %>
</p>

<p>
  <strong>Address:</strong>
  <%= @flat.address %>
</p>

<p>
  <strong>Day price:</strong>
  <%= @flat.day_price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @flat.description %>
</p>

<p>
  <strong>Tags:</strong>
 <% @flat.tags.each do |tag|%>
     <p>• <%= tag.name %></p>
  <% end %>
</p>

<p>
  <strong>Picture of the flat:</strong>
  <% @flat.pictures.each do |pict| %>
    <li style="list-style-type: none"><%= image_tag pict.picture(:medium) %></li>
  <% end %>
</p>


<p> <%= link_to "Book!", new_flat_booking_path(@flat), class: "btn btn-default btn-lg" %> </p>

<%= link_to 'Edit', edit_flat_path(@flat) %> |
<%= link_to 'Back', flats_path %>
