<p id="notice"><%= notice %></p>

<h2>Know more about this flat </h2>

<p>
  <strong>Title:</strong>
  <%= @flat.title %>
</p>

<p>
  <strong>Address:</strong>
  <%= @flat.address %>
</p>

<p>
  <strong>Day price:</strong>
  <%= @flat.day_price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @flat.description %>
</p>

<p>
  <strong>Tags:</strong>
 <% @flat.tags.each do |tag|%>
     <p>• <%= tag.name %></p>
  <% end %>
</p>

<p>
  <strong>Picture of the flat:</strong>
  <% @flat.pictures.each do |pict| %>
    <li style="list-style-type: none"><%= image_tag pict.picture(:medium) %></li>
  <% end %>
</p>


<h3>Know more about the owner of this flat </h3>

<p>
  <strong>Name:</strong>
  <%= @flat.owner.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @flat.owner.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @flat.owner.telephone %>
</p>

<h3>Last bookings </h3>

<p>
  <% @flat.bookings.each do |b| %>
  <%= b.booker.full_name %>
  (From <%= b.start_date %> to <%= b.end_time %>)
  <% end %>
</p>

<p> 
  <% unless @flat.owner == current_user %> 
  <%= link_to "Book!", new_flat_booking_path(@flat), class: "btn btn-default btn-lg" %> 
  <% end %> 
</p>

<p>
<% if @flat.owner == current_user %> 
<%= link_to 'Edit', edit_flat_path(@flat) %> |
<%= link_to 'Destroy', @flat, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %> 
<%= link_to 'Back', flats_path %>
</p>

