
<h1>Listing bookings</h1>

<table>
  <thead>
    <tr>
      <th>Start date</th>
      <th>End time</th>
      <th>Flat</th>
      <th>Booker</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.start_date %></td>
        <td><%= booking.end_time %></td>
        <td><%= booking.flat_id %></td>
        <td><%= booking.booker_id %></td>
        <td><%= link_to 'Show', flat_booking_path(booking.flat_id, booking) %></td>
        <td><%= link_to 'Edit', edit_flat_booking_path(booking.flat_id, booking) %></td>
        <td><%= link_to 'Destroy', flat_booking_path(booking.flat_id, booking), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
